body {
    background-color: white !important;
}

button.cancelarReserva {
    background-color: lightcoral;
}

button.cancelarReserva:hover {
    background-color: rgb(238, 66, 66);
}

p.confirmada {
    color: green;
    font-weight: 800;
}

p.cancelada {
    color: red;
    font-weight: 800;
}

div.cancelada {
    background-color: lightgray;
    opacity: 0.7;
}

button.reactivarReserva {
    background-color: lightgreen;
}

button.reactivarReserva:hover {
    background-color: rgb(145, 241, 34);
}

div.pasada {
    background-color: lightgray;
    opacity: 0.8;
}

button.btn-negro.active {
    background-color: black;
    opacity: 0.8;
    color: white;
}


/* cards de listar actividades */

.actividad {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    animation: 1s ease 2s normal forwards 1 fadein;
    -webkit-animation: 0.5s ease 1s normal forwards 1 fadein;
    opacity: 0
}

.actividad:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/** Efectos reservas ***/

div.tab-pane.active .card {
    /*ransition: all 0.3s cubic-bezier(.25, .8, .25, 1);*/
    visibility: hidden;
    animation: 0.5s ease 0.5s normal forwards 1 fadeInReserva;
    -webkit-animation: 0.5s ease 0.5s normal forwards 1 fadeInReserva;
}

@keyframes fadeInReserva {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadeInReserva {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeInReserva {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadeInReserva {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadeInReserva {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#dias {
    background: #ffb95a;
}

.mt-row {
    margin-top: 75px !important;
}

.mb-row {
    margin-bottom: 75px !important;
}

a.nav-link.active {
    background-color: #ffb95a !important;
    color: #212529 !important;
}

.btn-negro {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.350rem 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#pills-tabContent {
    margin-top: 80px;
    margin-bottom: 80px;
}

.bg-yellow {
    background-color: #ffb95a;
}

.btn-color {
    background-color: #ffb95a;
}

.btn-color2 {
    background-color: #ffa425 !important;
}

.sticky-top-3 {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    z-index: 1030;
}

.btn-add-post {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #212529;
}

.sticky-bottom-1 {
    position: fixed;
    right: 0;
    bottom: 8vh;
    left: 0;
    z-index: 1030;
}


/*** Botón organizar horario ***/

input[type=submit].organizarHorario {
    padding: 5px 15px;
    background: orange;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}